/*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 60px;
} /*
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  margin: 0 auto;
  padding: 2px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}
.hidden {
  display: none;
}

.btn {
  border: none;
  background-color: rgb(38, 7, 112);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}
.btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  transition: transform 150ms;
  transform: scale(1.03);
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

button[disabled]::hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background-color: rgb(38, 7, 112);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
}
.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

input {
  margin-bottom: 20px;
  width: 12px;
  padding: 12px;
  font-size: 21px;
  border: none;
  box-shadow: 1px 2px 3px 4px;
}
input::placeholder {
  color: blue;
}

#username {
  margin-bottom: auto;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 21px;
  color: brown;
  text-align: center;
}

#saveScoreBtn {
  border: none;
}
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

p {
  background-color: aliceblue;
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 50px;
  margin: 0;
  height: 70px;
  width: 200px;
}
